@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    justify-content: center;
}

/* Card */

main {
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    height: 495px;
    padding: 16px;
    width: 320px;
}

/* Image */

img {
    border-radius: 10px;
    height: 288px;
    width: 288px;
}

/* Text */

h1,
p {
    text-align: center;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.38rem;
    margin-top: 20px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 0.96rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin-top: 15px;
    width: 90%;
}

.attribution {
    bottom: 5px;
    display: none;
    font-size: 11px;
    position: absolute;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
    main {
        margin: 28px 0;
    }
}